@model ExtractImageViewModel
@using MagicMedia.Extensions
@{ ViewData["Title"] = "ExtractFaces"; }

<div class="image-container">

  <img src="/Media/Image/@Model.Id" />
  @foreach (var face in Model.Faces)
  {
    <div class="face-box" style="left: @(face.Box.Left)px; top: @(face.Box.Top)px; width: @(face.Box.Right - face.Box.Left)px; height: @(face.Box.Bottom - face.Box.Top)px;"></div>
  }

</div>

<div style="position: fixed">

  @foreach (var face in Model.Faces)
  {
<div>
  <img src="@face.Image" />
</div>
        <br />
                <div>
                  <span>Left: @face.Box.Left</span><br />
                  <span>Top: @face.Box.Top</span><br />
                  <span>Right: @face.Box.Right</span><br />
                  <span>Bottom: @face.Box.Bottom</span><br />
                </div>
                        <div style="height: 1px; width: 100%; background-color: #0026ff;"></div>}
</div>
